.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
.modal_toggle{
	display: block;
	opacity: 1;
}
.modal{
	background: rgba(130,130,130,.5);
	transition: 2s;
	.modal-dialog{
			width: 600px;
			.modal-content{
				overflow: hidden;
				border-radius: 10px;
				.modal-header{
					background-color: #8bb7c1;
				}
			}
	}
}