h1, h2, h3, {
  padding: 10px;
}
.slider_cont {
  height: 100vh; }
  .slider_cont .slider_cont_center {
    width: 100%; }

.slider_box {
  opacity: 0.9;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px; }
  .slider_box .row {
    padding: 5px 0; }

.slick-prev, .slick-next {
  width: 10%; }
  .slick-prev:before, .slick-next:before {
    color: white;
    font-size: 70px; }

.slick-prev {
  left: -20%; }

.slick-next {
  right: -17%; }

@media (max-width: 991px) {
  .slick-prev {
    left: -29%; } }

@media (max-width: 1199px) {
  .slick-prev {
    left: -25%; } }
